.csa-head {
	width: 1366px;
	height: 100%;
	position: absolute;
	background-size: 100%;
	background-image: url(img/0.jpg);
}
body {
	margin: 0;
	height: 100%;
}
.log {
	background-color: #11151C;
	opacity: 0.8;
	position: absolute;
	bottom: 1px;
	height: 15%;
	width: 100%;
}
.Links a{
	text-align: center;
	text-decoration: none;
	color: #F6511D;
	font-size: 18px;
	border: 1px;
	border-style:solid;
	border-color: #F6511D;
	padding: 8px 15px 8px 15px;
}
.Links a:hover {
	border-color: white;
	color: white;
}
#t1 {
	position: absolute;
	left: 5%;
	top: 75%;
}
#t2 {
	position: absolute;
	left: 85%;
	top: 75%;
}
#icons {
	position: absolute;
	top: 76%;
	left: 46%;
	color: white;
	font-size: 20px;
}
#icons a {
	color: white;
}
#icons a:hover {
	color: #F6511D;
}
.log ul {
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}