.csa-head {
	width: 1366px;
	height: 100%;
	position: absolute;
	background-size: 100%;
	background-image: url(img/0.jpg);
}
body {
	margin: 0;
	height: 100%;
}
.log {
	background-color: #11151C;
	opacity: 0.8;
	position: absolute;
	bottom: 1px;
	height: 15%;
	width: 100%;
}